html, body {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    background-color: var(--background);
    color: var(--font-color);
}

header {
    background-image: url('../img/header-bkg2.jpg');
}

.title {
    text-align: center;
    white-space: nowrap;
    font-size: 3em;
}

#anillos {
    color: var(--primary);
}

main {
    padding: 30px;
}

/* Fecha */
.date-container {
    font-size: 1.7em;
    text-align: center;
    width: 100%;
}

.date-container .date-day {
    font-size: 2.3em;
    line-height: 0.8em;
}

.date-container p {
    margin: 0;
    padding: 0;
}

/* Horarios */
.schedule-container {
    padding-left: 40px;
}

.schedule-container ul {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    padding-inline-start: 0.7ch;
    list-style-type: "❤";
    padding-top: 0.5em;
}

.schedule-container li {
    padding-left: 1em;
    margin-bottom: 1em;
}

.schedule-container li::marker {
    color: red;
}

.schedule-container li p {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

/* Fotos */
.pics {
    width: 100%;
}

/* Cuenta */
.account-copy-data {
    display: flex;
    align-items: center;
    gap: 5px;
}

.button-copy {
    height: 32px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    margin-top: 3px;
}

.button-copy:active {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Gracias */
.thank-you {
    width: 100%;
    text-align: center;
}
