html, body {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    font-size: 16px;
    background-color: var(--background);
    color: var(--font-color);
}

@media (min-width: 600px) {
    html, body {
        font-size: 20px;
    }
}

main {
    padding: 30px 0;
}

.curved {
    background-image: url(../img/curve.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    margin-top: -360px;
    padding-top: 80px;
}

.curved * {
    z-index: 100;
}

.bg-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 230%;
    z-index: 0 !important;
    top: 0px;
    left: 0;
}

.bg-container * {
    z-index: 0 !important;
}

.bg-container > .bg-left {
    background-position: left top;
    background-image: url(../img/date-bg-01.png);
}

.bg-container > .bg-right {
    background-position: right top;
    background-image: url(../img/date-bg-02.png);
}

.bg-right, .bg-left {
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Fecha */
.date-container {
    font-size: 1.7em;
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.date-container .date-day {
    font-size: 2.3em;
    line-height: 0.8em;
}

.date-container p {
    margin: 0;
    padding: 0;
}

/* Horarios */
.schedule-container {
    padding-left: 40px;
    margin-top: 40px;
    padding: 20px 30px 10px 70px;
}   

.schedule-container ul {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    padding-inline-start: 0.7ch;
    list-style-type: "\e9da";
    padding-top: 0.5em;
}

.schedule-container li {
    padding-left: 1em;
    margin-bottom: 1em;
}

.schedule-container li::marker {
    font-family: 'icomoon';
    color: red;
    font-size: 1em;
}

.place-text{
    line-height: 1.4em;
}

.schedule-container li p {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

.img-schedule{
    width: 70px;
    height: auto;
    margin-left: 10px;
}

/* Fotos */
div#background {
    --bs-gutter-x: 0;
    padding: 30px 0 40px;
    position: relative;
  }
  
  div#gallery {
    margin: auto;
  }
  
  
  #background img {
    height: 150px;
    margin: 0px;
  }
  
  #background figure {
    float: left;
    position: relative;
    background-color: #f3f1ee;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 3px #bcbcbc;
  }
  
  figure.pic1 {
    -webkit-transform : rotate(-10deg);
    z-index: 1;
  }
  
  figure.pic2 {
    -webkit-transform : rotate(15deg);
    z-index: 2;
    right: 0;
    top: 30px;
  }
  
  figure.pic3 {
    -webkit-transform: rotate(10deg);
    z-index: 1;
    margin-top: -10px !important;
    left: 25px;
  }
  
  figure.pic4 {
    -webkit-transform: rotate(-8deg);
    z-index:1;
    right: 0;
    top: 15px;
  }

/* Cuenta */
.account-info-section{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-info-section p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.flowers-account {
    width: 100%;
    height: auto;
    max-width: 350px;
}

.honeymoon {
    text-align: center;
    padding: 5px 30px;
}

.account-info-box{
    margin: 15px 0;
}

.account-copy-data {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    height: 32px;
}

.button-copy {
    height: 32px;
    width: 32px;
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    margin-top: 3px;
}

.button-copy:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.button-copy img {
    position: absolute;
    width: 16px;
    top: 8px;
    left: 8px;
    transition: linear opacity 100ms;
}

.hide {
    opacity: 0;
}

.flowers-account-footer {
    width: 50%;
    height: auto;
    max-width: 200px;
}

/* Gracias */
.thank-you {
    text-align: center;
    padding: 0 30px;
}
.thank-you p {
    margin: 20px 0;
    color: #00463c;
    font-weight: bold;
}

/* Footer */
footer{
    font-size: 0.8rem;
    color: #cfa040;
    text-align: center;
    padding: 20px;
}
