.pics-scroll-container,
.pics-scroll-container * {
    margin: 0;
    padding: 0;
}

.pics-scroll-container section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.scroll-content {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    clip-path: inset(0 0 0 0);
}

.scroll-content h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

figure {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.pics-scroll-container>section:nth-child(1) figure {
    background-image: url('/img/foto1.jpg');
}

.pics-scroll-container>section:nth-child(2) figure {
    background-image: url('/img/foto2.jpg');
}

.pics-scroll-container>section:nth-child(3) figure {
    background-image: url('/img/foto3.jpg');
}

.pics-scroll-container>section:nth-child(4) figure {
    background-image: url('/img/foto4.jpg');
}
