*:hover {
    outline: 1px solid grey;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    background-color: var(--background);
    color: var(--font-color);
}

header {
    background-image: url('img/header-bkg2.jpg');
}

.title {
    text-align: center;
    white-space: nowrap;
    font-size: 3em;
}

#anillos {
    color: var(--primary);
}

main {
}

.date {
    text-align: center;
}

.date::after {
    content: '';
    width: 0;
    margin: 10px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.schedule {
    gap: 1em;
    line-height: 1.4em;
}
